<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="../pkg/bootstrap-4.6.2-dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="../css/index.css">
    <script src="../pkg/jquery-3.7.1/jquery-3.7.1.min.js"></script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
    <div class="main">
        <div class="btn">
            <div class="btn-group-vertical">
                <a class="dropdown-item" href="#">矿产资源精深加工</a><br>
                <a class="dropdown-item" href="#">再生资源循环材料</a><br>
                <a class="dropdown-item" href="#">特色食品加工</a><br>
                <a class="dropdown-item" href="#">木材加工及家具制造</a><br>
                <a class="dropdown-item" href="#">大健康医药制造</a><br>
                <a class="dropdown-item" href="#">文化旅游康养</a><br>
                <a class="dropdown-item" href="#">其它 'N' 产业</a>
            </div>
        </div>
    </div>
</body>
<script src="../pkg/popper.js/popper.min.js"></script>
<script src="../pkg/bootstrap-4.6.2-dist/js/bootstrap.min.js"></script>

</html>